In [1]:
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import glob
from matplotlib import pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDRegressor, Ridge, LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.decomposition import PCA

In [2]:
def catToUseful(df):
    newDf = df
    col = df.columns.tolist()
    types = df.dtypes
    for i in range(len(col)):

        if types[i] == 'object' or types[i] == 'str':
            newDf[col[i]] = df[col[i]].astype('category').cat.codes
        else: 
            newDf[col[i]] = df[col[i]]
    return newDf

In [3]:
wdir = r'C:\Users\noaht\Documents\Data_Mining\Project 3\Data'
os.chdir(wdir)
train_df = pd.read_csv(wdir + r'\train_df.csv')
test_df = pd.read_csv(wdir + r'\test_df.csv')
trainFin = pd.read_csv(wdir + r'\trainReady.csv')
testFin = pd.read_csv(wdir + r'\testReady.csv')

In [4]:
trainFin.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,1,0,3,0,...,0,3,4,1,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,1,0,3,0,...,0,3,4,1,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,1,0,3,0,...,0,3,4,1,0,12,2008,8,4,250000

In [5]:
trainFin.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,1,0,3,0,...,0,3,4,1,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,1,0,3,0,...,0,3,4,1,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,1,0,3,0,...,0,3,4,1,0,12,2008,8,4,250000

In [6]:
testFin.shape

(1459, 80)

In [7]:
X_train = trainFin.loc[:, trainFin.columns!='SalePrice']
Y_train = trainFin['SalePrice']
X_test = catToUseful(testFin)

In [8]:
SGDRegressor_pipe = Pipeline([
    ('StandardScaler', StandardScaler()),
    ('SGDRegressor', SGDRegressor())
]).fit(X_train, Y_train)

sgd_y_pred = SGDRegressor_pipe.predict(X_test)

In [13]:
firstPred = pd.DataFrame()
firstPred['Id'] = X_test['Id']
firstPred['SalePrice'] = sgd_y_pred

In [16]:
firstPred.to_csv('First_Prediction.csv', index = False)

# Result of First Experiment 0.50813 "oof"