In [1]:
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import glob
from matplotlib import pyplot as plt
import sys
np.set_printoptions(threshold=sys.maxsize)

In [2]:
wdir = r'C:\Users\noaht\Documents\Data_Mining\Project 3'
os.chdir(wdir)
# get csv files 
csvFiles = glob.glob(os.path.join(wdir + '\Data', '*.csv'))

In [3]:
train_df = pd.read_csv(csvFiles[0]) 
test_df = pd.read_csv(csvFiles[1])

In [4]:
train_df.shape

(1459, 80)

In [5]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
train_df.head(80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,1536,50,RM,NaN,8239,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,Normal
76,1537,30,RM,68.0,9656,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Abnorml
77,1538,70,RM,60.0,9600,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Abnorml
78,1539,70,RM,50.0,9000,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
79,1540,190,RM,100.0,9045,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Abnorml

# Getting Rid of tHe nUll VaLS

In [7]:
print(train_df.size)
x = train_df.isna().sum()
y = test_df.isna().sum()
x = x.to_frame()
y = y.to_frame()

nullCol = x.loc[(x[0] != 0)]
nullCol1 = y.loc[(y[0] != 0)]
nullCol = nullCol.index.tolist()
nullCol1 = nullCol1.index.tolist()
print(len(nullCol))
print(len(nullCol1))
dataWithNull = train_df[nullCol]
NullTest = test_df[nullCol1]

116720
33
19

In [8]:
rNone = ['MasVnrType','Utilities',"Alley", "BsmtQual", "BsmtCond", "BsmtExposure", "BsmtFinType1", "BsmtFinType2", "FireplaceQu", "GarageType", "GarageFinish", "GarageQual", "GarageCond", "PoolQC", "Fence", "MiscFeature"]
rZero = ['MasVnrArea',"LotFrontage", "BsmtFinSF1", "BsmtFinSF2", "BsmtUnfSF", "TotalBsmtSF", "BsmtFullBath", "BsmtHalfBath", "GarageCars", "GarageArea"]

rNone2 = [x for x in rNone if x in nullCol1]
rZero2 = [x for x in rZero if x in nullCol1]

In [9]:
dataWithNull[rNone] = dataWithNull[rNone].fillna("None")
dataWithNull[rZero] = dataWithNull[rZero].fillna(0)
dataWithNull['GarageYrBlt'] = dataWithNull['GarageYrBlt'].fillna(value =dataWithNull['GarageYrBlt'].mean())

NullTest[rNone2] = NullTest[rNone2].fillna("None")
NullTest[rZero2] = NullTest[rZero2].fillna(0)
NullTest['GarageYrBlt'] = NullTest['GarageYrBlt'].fillna(value =dataWithNull['GarageYrBlt'].mean())

C:\Users\noaht\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/881707239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataWithNull['GarageYrBlt'] = dataWithNull['GarageYrBlt'].fillna(value =dataWithNull['GarageYrBlt'].mean())
C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/881707239.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NullTest['GarageYrBlt'] = NullTest['GarageYrBlt'].fillna(value =dataWithNull['GarageYrBlt'].mean())

In [10]:
almost = NullTest.isna().sum().to_frame()
almost = almost.loc[(almost[0] != 0)]
NullTest['MasVnrType'] =  NullTest["MasVnrType"].fillna("None")
NullTest['MasVnrArea'] =  NullTest["MasVnrArea"].fillna(0)
NullTest['Electrical'] =  NullTest["Electrical"].fillna("Mixed")

C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/463149118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NullTest['MasVnrType'] =  NullTest["MasVnrType"].fillna("None")
C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/463149118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NullTest['MasVnrArea'] =  NullTest["MasVnrArea"].fillna(0)
C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/463149118.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NullTest['Electrical'] =  NullTest["Electrical"].fillna("Mixed")

In [11]:
almost = dataWithNull.isna().sum().to_frame()
almost = almost.loc[(almost[0] != 0)]
almost.head()
dataWithNull[['MSZoning', 'Exterior1st','Exterior2nd','SaleType']] =  dataWithNull[["MSZoning", 'Exterior1st','Exterior2nd','SaleType']].fillna("Oth")
dataWithNull['KitchenQual'] =  dataWithNull['KitchenQual'].fillna("TA")
dataWithNull['Functional'] =  dataWithNull['Functional'].fillna("Typ")

C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/1829934183.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataWithNull['KitchenQual'] =  dataWithNull['KitchenQual'].fillna("TA")
C:\Users\noaht\AppData\Local\Temp/ipykernel_16924/1829934183.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataWithNull['Functional'] =  dataWithNull['Functional'].fillna("Typ")

In [12]:
dataWithNull.isna().sum()

MSZoning        0
LotFrontage     0
Alley           0
Utilities       0
Exterior1st     0
Exterior2nd     0
MasVnrType      0
MasVnrArea      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinSF1      0
BsmtFinType2    0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
BsmtFullBath    0
BsmtHalfBath    0
KitchenQual     0
Functional      0
FireplaceQu     0
GarageType      0
GarageYrBlt     0
GarageFinish    0
GarageCars      0
GarageArea      0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
SaleType        0
dtype: int64

In [13]:
train_df[nullCol] = dataWithNull

test_df[nullCol1] = NullTest

In [14]:
train_df.shape

(1459, 80)

In [15]:
test_df[test_df.columns[25]].isna().sum()

0

In [16]:

print(train_df.size)
print(test_df.isna().sum().sum())
train_df.isna().sum().sum()

116720
0

0

In [17]:
temp = train_df
train_df = test_df
test_df = temp # I accidently had the train and test values labeled wrong whoops

In [18]:
os.chdir(wdir+ r'\Data')
train_df.to_csv('train_noNull.csv', index = False)
test_df.to_csv('testnoNull.csv', index = False)

# Data Visulization

In [19]:
cByType = train_df.columns.to_series().groupby(train_df.dtypes).groups
sColumn = [ 'SalePrice', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']
tempDf = train_df[sColumn]

In [20]:
cByType

{int64: ['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice'], float64: ['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], object: ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']}

In [21]:
def doaVGraph(df, xlab, ylab):
    os.chdir(r'C:\Users\noaht\Documents\Data_Mining\Project 3' + r'\Graphs')
    
    ax = sns.violinplot(x=xlab, y= ylab, data=df)
    
    try: 
        fig = ax.get_figure()
        fig.savefig(xlab + '.png')
    except:
        print("error could not save file column:  " + xlab)

In [22]:
#for i in range(len(sColumn)):
#    if(sColumn[i] != 'SalePrice'):
#        doaVGraph( tempDf, sColumn[i], 'SalePrice')

# Experiment 1

## First step is to turn catagorial string data into numerical data

In [23]:
cool = train_df.dtypes
dope = train_df.columns.tolist()
cool

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [24]:
print(cool[0] == 'object' or  cool[0] == 'str')

False

In [25]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [26]:
def catToUseful(df):
    newDf = df
    col = df.columns.tolist()
    types = train_df.dtypes
    for i in range(len(col)):

        if types[i] == 'object' or types[i] == 'str':
            newDf[col[i]] = df[col[i]].astype('category').cat.codes
        else: 
            newDf[col[i]] = df[col[i]]
    return newDf

In [27]:
trainReady = catToUseful(train_df)
testReady = catToUseful(test_df)

In [28]:
testReady.shape

(1459, 80)

In [29]:
os.chdir(wdir + '\Data')

In [30]:
trainReady.to_csv('trainReady.csv', index = False)
testReady.to_csv('testready.csv', index = False)
train_df.to_csv('train_df.csv', index = False)
test_df.to_csv('test_df.csv', index = False)

# Will now move to Exploration part of project